@import '../../../pages/shared-style-files/globals.scss';

.selectContainer {
 position: relative;
 width: 100%;
 max-width: 864px;
 margin-top: 8px;
 min-width: 420px;
 &.isPopup{
    max-width: 725px;
 }
 &.isReadOnly{
  .select{
    background-color: $disabled-gray;
  }
 }
}

.select {
 width: 100%;
 padding: 18px 12px;
 // border: 1px solid #ccc;
 background-color: #fff;
 font-size: 14px;
 outline: none;
 appearance: none; 
 cursor: pointer;
 position: relative;
 &::-ms-expand {
   display: none;
 }
 &::after{
  content: '';
  position: absolute;
  background: url(/images/down-arrow-gray.png) no-repeat center;
  background-size: contain;
  left: 16px;
  width: 14px;
  height: 24px;
 }
 &.expanded{
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &::after{
   transform: rotate(180deg);
  }
 }

 /* Style the dropdown options */
}
.dropdown {
  padding: 16px 8px 8px;
  font-size: 14px; 
  background-color: #fff; 
  color: $dark-gray; 
  width: 100%;
  border-top: none;
  margin-top: -15px;
  max-height: 250px;
  overflow-y: scroll ;
  .option_item{
   margin-bottom: 5px;
   cursor: pointer;
  }
}
